.sidebar{
    width:250px;
    height:100vh;
    background:#2d2b2b;
    color:white;
    display:flex;
    flex-direction:column;
    padding:25px 20px;
    transition:all .3s ease;
    overflow:hidden;
}

.closed{
    width:90px;
}

.logo{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom:40px;
    min-height:40px;
}

.logo h2{
    font-size:28px;
    white-space:nowrap;
}

.menuBtn{
    width:55px;
    height:55px;
    margin:0 auto 40px auto;
    border:none;
    background:none;
    color:white;
    font-size:30px;
    cursor:pointer;
    transition:.3s;
}

.menuBtn:hover{
    color:#0d6efd;
}

nav{
    display:flex;
    flex-direction:column;
    gap:18px;
}

nav button{
    width:100%;
    display:flex;
    align-items:center;
    gap:15px;
    padding:15px;
    background:transparent;
    color:white;
    border:none;
    border-radius:12px;
    cursor:pointer;
    font-size:20px;
    transition:.25s;
}

nav button:hover{
    background:#3c3c3c;
}

.active{
    background:#0d6efd !important;
}

nav svg{
    font-size:24px;
    min-width:24px;
}

.closed nav button{
    justify-content:center;
    padding:15px 0;
}

.closed nav button span{
    display:none;
}