/* Contenedor general de la aplicación */
.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #2F2D2E; /* Fondo base oscuro */
}

/* Espacio inferior que dividirá el Sidebar y el Contenido Principal */
.content-container {
  display: flex;
  flex: 1;
  width: 100%;
  box-sizing: border-box;
}
.main-play-content {
  flex: 1;
  background-color: #2F2D2E; /* Mismo fondo de la app */
  padding: 30px;
  box-sizing: border-box;
  transition: all 0.3s ease; /* Transición suave de autoajuste */
}