/* src/index.css */

/* Eliminamos márgenes del navegador y permitimos que use el 100% real */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100vw;   /* Ocupa el 100% del ancho de la pantalla */
  height: 100vh;  /* Ocupa el 100% del alto de la pantalla */
  background-color: #2F2D2E; /* Tu color oscuro de fondo */
  overflow: hidden; /* Evita que salgan barras de scroll dobles */
}

* {
  box-sizing: border-box; /* Evita que los paddings rompan el tamaño */
  margin: 0;
  padding: 0;
}